@{
    Layout = "_LayoutRegistor";
}

<div class="ms-content-wrapper ms-auth">
    <div class="ms-auth-container">
        <div class="ms-auth-col">
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> <span>@localizer.GetLocalizedHtmlString("Your confirm successfully, Please try login again")</span>
            </div>
            <p class="mb-3">@localizer.GetLocalizedHtmlString("Thank you for confirm?") <a asp-action="login" asp-controller="account">@localizer.GetLocalizedHtmlString("Login")</a></p>
            <div class="ms-auth-col">
                <div class="ms-auth-bg"></div>
            </div>
        </div>
    </div>
</div>
